* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-color: rgb(0, 11, 5);
  scroll-behavior: smooth;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 11, 5);

  .title-lines {
    opacity: 0;
    display: none;
  }

  main {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 11, 5);

    .loading {
      height: 100%;
      width: 100%;
      background-color: rgb(0, 11, 5);
      display: flex;
      justify-content: center;
      align-items: center;

      #progress-bar {
        position: absolute;
        left: 0;
        background-color: rgb(198, 120, 4);
        height: 2px;
        transition: 0.4s ease-out;
      }

      #count {
        position: absolute;
        font-size: 130px;
        font-family: "Cormorant Garamond";
        color: rgba(255, 255, 255, 0.744);
        // opacity: 0;
        transform: translateY(-15px);
        font-weight: lighter;
      }

      .follow {
        position: absolute;
        background-color: #48575e;
        height: 2px;
        width: 0;
        left: 0;
        z-index: 2;
      }
    }

    .content {
      height: 100%;
      width: 0;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgb(0, 11, 5);
      font-weight: 300;
      border: none;
      z-index: 5;

      #scroll {
        position: absolute;
        right: 5%;
        bottom: 4%;
        opacity: 0;
        font-family: "Libre Barcode 39 Extended Text", cursive;
        color: rgb(198, 120, 4);
        font-size: 37px;
      }

      nav {
        position: fixed;
        top: 5%;
        left: 2%;
        z-index: 5;
        width: 35%;

        ul {
          canvas {
            display: block;
            &:hover {
              cursor: pointer;
            }
          }
          li {
            list-style: none;
            opacity: 0;
          }
        }
      }

      section {
        height: 82.5%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          color: white;
          font-size: 8vw;
          margin-bottom: -6.5vw;
          padding: 3% 12%;
          letter-spacing: 2px;
          &:nth-of-type(1) {
            text-align: end;
          }
          &:nth-of-type(3) {
            text-align: end;
          }

          span {
            font-family: "Major Mono Display", monospace;
            color: #48575e;
            font-size: 10vw;
          }
        }
      }
    }
  }
}